header{
    background-color: #101820;
    height: 80px;
}

header>nav{
    width: 90%;
}

.logo-box > img {
    width: 50px;
    margin: 0 auto;
}
#carrito {
    cursor: pointer;
}

header > nav {
    justify-content: space-between;
    gap: 300px;
}

a{
    position: relative;
    text-decoration: none;
    margin: 0;
}

a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform .4s ease;
}

a:hover::after {
    transform: scaleX(1);
}

#offcanvasNavbar{
    background-color: #101820;
}

.btn-close{
    background-color: red;
}

