.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);  
    background: rgb(16,24,32);
    background: linear-gradient(180deg, rgba(16,24,32,1) 15%, rgba(82,88,107,1) 78%);
}